version: "3.9"

services:
  postgres:
    image: postgres:15
    container_name: pg-local
    restart: always
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: admin
      POSTGRES_DB: mydb
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

  bun-app:
    build: .
    container_name: bun-app
    depends_on:
      - postgres
    ports:
      - "3000:3000"
    environment:
      DATABASE_URL: postgres://admin:admin@postgres:5432/mydb
    command: bun run dev

volumes:
  pgdata:
